.post-card {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.individual-card {
  border: #d06000 3px solid;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.meta-title {
  font-family: var(--titulos);
  color: var(--acentos);
}

.meta-description {
  font-family: var(--texto);
}
