.footer {
  background-color: var(--acentos);
  color: white;
  text-align: center;
  font-family: var(--titulos);
  padding: 0.01rem 0;
  position: relative;
  bottom: 0;
  width: 100%;
  font-size: 0.9rem;
}

@media (max-width: 768px) {
  .footer {
    display: none;
  }
}