h1 {
  font-family: var(--titulos);
  color: var(--acentos);
  text-align: center;
}
h3 {
  font-family: var(--titulos);
  color: var(--acentos);
  text-align: center;
}


.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
}