:root {
  /* COLORES */
  --fondo: #ffeac8;
  --acentos: #d06000;

  /*TIPOGRAFÍA*/
  --titulos: "Atma";
  --texto: "Inter";

  background-color: var(--fondo);
  background-image: url("./assets/animal_footprints.png");

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
