:root {
  /* COLORES */
  --fondo: #FFEAC8;
  --acentos: #D06000;
  /*TIPOGRAFÍA*/
  --titulos: "Atma";
  --texto: "Inter";
  background-color: var(--fondo);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 